#work {
  text-align: center;
  margin: 80px 0;
  h2 {
    font-size: 24px;
    text-transform: uppercase;
  }
  hr {
    border-color: #ebb129;
    border-width: 2px;
    margin: 25px auto;
    width: 120px;
  }
  transform-style: preserve-3d;
  .section {
    margin-bottom: 15px;
    position: relative;
    &.web-application {
      .icon {
        background: #ebb129;
      }
      h5 {
        color: #ebb129;
      }
    }
    &.cms {
      .icon {
        background: #9f59e3;
      }
      h5 {
        color: #9f59e3;
      }
    }
    &.startup {
      .icon {
        background: #00a086;
      }
      h5 {
        color: #00a086;
      }
    }
    .front-content, .flip-content{
      backface-visibility: hidden;
      border-radius: 5px;
      border: 1px solid #eee;
      height: 240px;
      text-align: center;
      transition: all 0.4s cubic-bezier(0.2, 0.85, 0.4, 1.275);
      h4 {
        font-size: 15px;
        text-transform: uppercase;
      }
    }
    .flip-content {
      background-color: #f5f5f5;
      border-color: #f5f5f5;
      left: 0;
      position: absolute;
      top: 0;
      transform: rotateY(-180deg);
      width: 100%;
      z-index: -1;
      .inner-content {
        left: 0;
        padding: 0 35px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        a {
          color: #ebb129;
          &:hover {
            color: #ebb129;
          }
        }
        p {
          color: #999;
        }
      }
    }
    .front-content {
      padding: 30px 35px;
      .icon {
        border-radius: 50%;
        color: #fff;
        width: 70px;
        height: 70px;
        font-size: 26px;
        margin-bottom: 50px;
        display: inline-block;
        line-height: 70px;
      }
      h5 {
        font-size: 10px;
        text-transform: uppercase;
      }
    }
    .front-content,
    &:hover .flip-content {
      transform: rotateY(0deg);
      z-index: 2;
    }
    &:hover .front-content {
      transform: rotateY(-180deg);
    }
  }
  .show-more {
    max-height: 0;
    overflow: hidden;
    transition: all 2s;
    &.shown {
      max-height: 5000px;
      transition: all 2s;
    }
  }
  .show-more-button {
    border-radius: 999px;
    border: 2px solid #eee;
    color: #555;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 15px 30px 16px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
      background: #eee;
      color: #f1c40f;
      transition: all 0.3s;
    }
  }
}