.container
  .about
    .section
      %h3 3 is more than 1
      %hr
      %p
        We work as a team, we have all benefits of freelancers but as a team we offer reliability and increased capacity.
    .section
      %h3 We follow latest trends in web development
      %hr
      %p
        Our choice is #{link_to "Ruby on Rails", "http://rubyonrails.org", target: "_blank"}.
        Code quality and reliability is at the first place.
    .section
      %h3 We don’t disappear overnight
      %hr
      %p We work as a team more than 6 years and would like it stay that way, expect long term support.
    .section
      %h3 It’s all about trust
      %hr
      %p
        For us gentleman agreement is more than a contract, if you are not satisfied, we are happy to give over the work to anyone else, not that this ever happened.
    .section
      %h3 We work when you sleep
      %hr
      %p
        Everytime you wake up the task is done. For offshore customers only.
    .section
      %h3 It’s not only about source code
      %hr
      %p
        Deployment and servers are our bread and butter. We are using #{link_to "EngineYard", "https://www.engineyard.com", target: "_blank"} and #{link_to "Heroku", "https://www.heroku.com", target: "_blank"}.
