.container
  .about
    .section
      %h3 Your Trusted Team
      %hr
      %p
        We are the perfect asset for your agency or project manager. Our team of three is English speaking, and always reachable by email, phone or Skype.
    .section
      %h3 Reliable Code
      %hr
      %p We develop using the latest web technologies, and share all source files and commits with the project owner, so you can easily transition to an in-house team when needed.
    .section
      %h3 Overnight Progress
      %hr
      %p
        For US-based customers, our time zone is ideal. With your instructions, we build overnight so that you can wake up to progress.
        This means faster development, testing, and project completion.
