#footer
  .container
    .row
      .col-md-4#address
        %h4 Get in Touch
        %strong 3lancers
        %br
        Kukučínova 799/10
        %br
        709 00 Ostrava-Hulváky
        %br
        Czech Republic
        %br
        %a{ href: "mailto:info@3lancers.co" } info@3lancers.co
      .col-md-8
        #map

#copyright
  .container
    .row
      .col-xs-6
        © 2015 3lancers
      .col-xs-6.text-right
        %a{ href: "#home", data: { scroll: true }}
          %span.text-uppercase Go to Top
          &nbsp;
          %i.fa.fa-caret-up
