.header
  = image_tag("header.jpg", class: "img-responsive")
  %h1
    We build custom 
    web applications to make your business run
    %span.highlighted better
  .caption Dolní oblast Vítkovice, Ostrava

