.numbers
  .container
    .row
      .col-md-10.col-md-offset-1
        .row
          .col-md-4
            %i.fa.fa-user-plus
            .counter
              %span{ data: { to: 3 }}> 3
            %hr
            %p Skilled Professionals
          .col-md-4
            %i.fa.fa-calendar-o
            .counter
              %span{ data: { to: 8 }}> 8
              +
            %hr
            %p Years of Experience
          .col-md-4
            %i.fa.fa-check-square-o
            .counter
              %span{ data: { to: 100 }}> 100
              +
            %hr
            %p Finished Projects
  