.team
  .container.text-center
    %h1 3lancers
    %hr
    %p
      We are a group of
      %span.highlighted three
      Ruby on Rails developers based in Ostrava, Czech Republic.
      Since 2009, we have created more than 100 custom websites and business applications for customers in the United States and Europe.
      If you need a team to help execute your idea, look no further.
    .row
      .col-md-4.member
        = image_tag "robert.jpg"
        %h4 Robert Cigán
        %p Backend Developer.
        %a{ href: "https://www.linkedin.com/in/robertcigan", target: "_blank", title: "LinkedIn" }
          %i.fa.fa-linkedin-square
      .col-md-4.member
        = image_tag "martin.jpg"
        %h4 Martin Hladil
        %p Backend and Frontend Developer.
        %a{ href: "https://www.linkedin.com/in/martinhladil", target: "_blank", title: "LinkedIn" }
          %i.fa.fa-linkedin-square
      .col-md-4.member
        = image_tag "tomas.jpg"
        %h4 Tomáš Pavelka
        %p Frontend Developer and UX Specialist.
        %a{ href: "https://www.linkedin.com/in/tomaspavelka", target: "_blank", title: "LinkedIn" }
          %i.fa.fa-linkedin-square
    %a.button{ href: "#contact", data: { scroll: true }} Work with Us